* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 10px 20px;
  position: fixed;
  top: 20px;
  background-color: white;
  width: 980px;
  box-shadow: 0 0 14px 0 gray;
}
@media (max-width: 1000px) {
  nav {
    height: 60px;
  }
}

nav .nav-btn {
  background-color: antiquewhite;
  border-width: 0;
  padding: 3px;
  border-radius: 3px;
}
@media (min-width: 1000px) {
  nav .nav-btn {
    display: none;
  }
}

@media (max-width: 1000px) {
  .section-content, nav {
    width: 75%;
  }
}
@media (max-width: 560px) {
  .section-content,
  nav {
    width: 90%;
  }
}
.nav-list {
  padding-left: 50px;
}
@media (max-width: 1000px) {
  .nav-list {
    display: none;
    position: relative;
    top: 50px;
    background-color: white;
    border-radius: 0 0 40px 40px;
    margin: auto;
    width: 1100px;
    padding: 0;
    position: relative;
    right: 20px;
    overflow: hidden;
  }
}

.nav-list ul li {
  display: inline-block;
  padding-left: 30px;
  font-size: 14px;
}
@media (max-width: 1000px) {
  .nav-list ul li {
    display: block;
    width: 100%;
    padding: 0;
  }
}

.nav-list ul li a {
  text-decoration: none;
  color: black;
}
@media (max-width: 1000px) {
  .nav-list ul li a {
    text-align: center;
    display: block;
    padding: 20px;
    box-shadow: 0px 0px 2px 0px;
  }
}

.nav-list ul li a:hover {
  color: rgb(243, 122, 142);
}

.section-home {
  background-image: linear-gradient(90deg, rgba(249, 145, 229, 0.5), rgba(126, 129, 227, 0.5)), url(/images/backgroundlaptop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 850px;
  background-size: cover;
}

.section-content {
  max-width: 980px;
  margin: auto;
}

.background-laptop {
  width: 100px;
  height: 40px;
  border-radius: 50px;
}

.content-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-items {
  margin: 300px 0 200px 0;
  text-align: center;
}

.content-items div,
.content-items h1,
.content-items p {
  color: white;
  margin: 20px 0;
  line-height: 1.4;
}

.content-items h1 {
  font-size: 30px;
}
@media (max-width: 1000px) {
  .content-items h1 {
    font-size: 20px;
  }
}

@media (max-width: 560px) {
  .content-items {
    width: 90%;
  }
}
.strategy-items {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  margin: auto;
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-height: 260px;
}
@media (max-width: 1000px) {
  .strategy-items {
    grid-template-columns: repeat(2, 35%);
  }
}
@media (max-width: 560px) {
  .strategy-items {
    grid-template-columns: repeat(1, 90%);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
}

.strat-items {
  text-align: center;
  padding: 20px;
  color: black;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 20px 0px;
}

.strat-items i,
.strat-items h4,
.strat-items p {
  margin: 10px 0;
}

.strat-items i {
  color: rgb(181, 106, 243);
  margin: 30px;
}

.strat-items i:hover {
  color: rgb(230, 47, 160);
  transition: 0.3s ease-out;
}

@media (max-width: 1000px) {
  .strategy-items .strat:last-child {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.section-about {
  margin-top: 250px;
}

.about-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 980px;
  margin: auto;
}
@media (max-width: 1000px) {
  .about-items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 80%;
    margin-top: 550px;
  }
}
@media (max-width: 560px) {
  .about-items {
    margin-top: 800px;
    width: 90%;
  }
}

.about-content img {
  display: block;
  margin: auto;
}

.about-content {
  line-height: 2;
}

.about-content p {
  color: rgb(71, 72, 73);
}

@media (max-width: 1000px) {
  .section-work-process {
    padding-bottom: 350px;
  }
}
.section-work-process {
  min-height: 20vh;
  background-color: aqua;
  margin-top: 100px;
  background-image: linear-gradient(90deg, rgba(214, 72, 186, 0.5), rgba(126, 129, 227, 0.5)), url(/images/desktop-table.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.work-title {
  text-align: center;
  width: 980px;
  margin: auto;
  padding: 75px 0 60px 0;
  color: white;
}
@media (max-width: 1000px) {
  .work-title {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .work-title {
    width: 80%;
  }
}

.work-title h2 {
  margin-bottom: 20px;
}

.work-process-items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
  margin: auto;
  width: 980px;
  max-height: 300px;
  padding-bottom: 80px;
}
@media (max-width: 1000px) {
  .work-process-items {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 75%;
  }
}
@media (max-width: 768px) {
  .work-process-items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
  }
}

.work-process-items .process-items {
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 12px 10px 5px 1px rgba(224, 202, 202, 0.637);
  background-color: white;
}

.process-items i,
.process-items h4,
.process-items p {
  margin-bottom: 15px;
}

.process-items i {
  color: rgb(235, 142, 235);
}

.process-items {
  top: 0;
}

.process-items:hover {
  position: relative;
  top: -20px;
  transition: top 0.4s ease-out;
  -moz-transition: top 0.4s ease-out;
  -o-transition: top 0.4s ease-out;
  -webkit-transition: top 0.4s ease-out;
  cursor: default;
}

.section-testi {
  height: 600px;
}

.testi-title {
  text-align: center;
  width: 980px;
  margin: auto;
  padding: 75px 0 60px 0;
  color: rgb(189, 173, 173);
}
@media (max-width: 1000px) {
  .testi-title {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .testi-title {
    width: 80%;
  }
}

.testi-title h2 {
  color: black;
  margin-bottom: 20px;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 980px;
  gap: 25px;
  text-align: center;
  margin: 0 auto 100px auto;
}
@media (max-width: 1000px) {
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 90%;
  }
}
@media (max-width: 560px) {
  .testimonials {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 90%;
  }
}
@media (max-width: 768px) {
  .testimonials {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }
}

.testimonials-items {
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 0 14px 0 gray;
  padding: 20px;
  line-height: 1.4;
}

.testimonials-items p {
  text-align: left;
  color: rgb(189, 173, 173);
}

.testimonials-items i,
.testimonials-items p {
  margin-bottom: 30px;
}

.testimonials-items i {
  margin-top: 10px;
  color: rgb(235, 142, 235);
}

.testi-names i,
.testi-names p {
  color: black;
  margin: 0;
}

.classification .position {
  width: 200px;
  margin-top: 5px;
}

.testi-names {
  display: flex;
  gap: 10px;
}

.user-image img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.section-pricing {
  min-height: 40vh;
  background-color: #f2f2fe;
  padding-bottom: 100px;
}
@media (max-width: 1000px) {
  .section-pricing {
    margin-top: 350px;
  }
}
@media (max-width: 768px) {
  .section-pricing {
    margin-top: 700px;
  }
}

.pricing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 980px;
  margin: auto;
  gap: 30px;
}
@media (max-width: 1000px) {
  .pricing {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
}
@media (max-width: 768px) {
  .pricing {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
}

.pricing-title {
  text-align: center;
  width: 980px;
  margin: auto;
  padding: 75px 0 65px 0;
}
@media (max-width: 1000px) {
  .pricing-title {
    width: 90%;
  }
}

.pricing h2 {
  padding-bottom: 20px;
}

.pricing-tables {
  padding: 40px 35px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 13px 2px rgb(189, 184, 184);
}

.pricing-items ul {
  margin: 40px 0;
}

.pricing-items ul li {
  list-style-type: none;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 100;
}

.pricing-items .price h3 {
  padding: 20px;
  font-size: 30px;
}

.pricing-items .price {
  border-width: 0;
  padding: 10px 0;
  border-radius: 20px;
  background-color: rgb(87, 65, 185);
  color: white;
  margin-top: 20px;
}

.pricing-items .price-btn {
  display: block;
  padding: 15px 20px;
  margin: auto;
  background-color: rgb(87, 65, 185);
  color: white;
  border-width: 0;
  border-radius: 40px;
}

.pricing-items .price-btn:hover {
  background-color: rgb(209, 52, 162);
  transition: 0.3s ease-out;
}

.pricing-items #premium {
  background-color: rgb(209, 52, 162);
}

.section-projects {
  background-image: linear-gradient(90deg, rgba(249, 145, 229, 0.5), rgba(126, 129, 227, 0.5)), url(/images/group.jpg.crdownload);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 980px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .projects {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    width: 90%;
  }
}
@media (max-width: 560px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    gap: 10px;
    padding: 60px 0;
  }
}

.project-items h1 {
  margin-bottom: 20px;
}

.project-items {
  top: 0;
}

.project-items:hover {
  position: relative;
  top: -20px;
  transition: top 0.4s ease-out;
  -webkit-transition: top 0.4s ease-out;
  -moz-transition: top 0.4s ease-out;
  -o-transition: top 0.4s ease-out;
}

.section-blogs {
  min-height: 500px;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  max-width: 980px;
  margin: auto;
  text-align: center;
  gap: 30px;
}
@media (max-width: 1000px) {
  .blogs {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .blogs {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
}

.blog-parent {
  padding: 100px 0;
}

#blog-title {
  grid-column: span 3;
}
@media (max-width: 1000px) {
  #blog-title {
    grid-column: span 2;
  }
}
@media (max-width: 768px) {
  #blog-title {
    grid-column: span 1;
  }
}

.blog-title {
  max-width: 980px;
  margin: auto;
  text-align: center;
}

#blog-title p {
  margin: 30px 0 30px 0;
  color: rgb(175, 173, 173);
}

.blogs-items h3 {
  margin: 30px 0;
}

.blogs-items img {
  width: 306px;
  height: 200px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 1000px) {
  .blogs-items img {
    display: block;
    margin: auto;
  }
}
@media (max-width: 560px) {
  .blogs-items img {
    width: 100%;
  }
}

.blogs-items button {
  width: 130px;
  padding: 15px 10px;
  border-radius: 40px;
  font-size: 14px;
  border-width: 0;
  margin-top: 20px;
  background-color: rgb(109, 87, 190);
  color: white;
}

.blogs-items button:hover {
  background-color: rgb(240, 136, 171);
  transition: 0.3s ease-in-out;
}

.blogs-items p {
  color: rgb(175, 173, 173);
}

.discover-btn button {
  width: 130px;
  padding: 10px;
  border-radius: 40px;
  font-size: 14px;
  border-width: 0;
  background-color: rgb(240, 136, 171);
  color: white;
}

.discover-btn button:hover {
  background-color: rgb(159, 92, 197);
}/*# sourceMappingURL=main.css.map */