.discover-btn button {
    width: 130px;
    padding: 10px;
    border-radius: 40px;
    font-size: 14px;
    border-width: 0;
    background-color: rgb(240, 136, 171);
    color: white;
}

.discover-btn button:hover {
    background-color: rgb(159, 92, 197);
}